.inline-code {
    font-size: medium;
    font-weight: 520;
    color: var(--text-color);
    background-color: #778da938;
    padding: 2px 5px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

.code-block {
    font-size: medium;
    display: block;
    margin: 5px 10px 10px 10px;
}

.code-header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--mask-bg);
    color: var(--secondary-dark);
    border-radius: 10px 10px 0 0;
    padding: 4px 0 4px 0;
    height: auto;
    position: relative;
    
    svg {
        margin: 5px 5px 5px 0;
    }

    .buttons {
        display: block;
        position: absolute;
        top: 35%;
        left: 1em;
        width: 0.6em;
        height: 0.6em;
        border-radius: 50%;
        background-color: var(--main-light);
        box-shadow: 0 0 0 2px var(--main-light), 1.5em 0 0 2px var(--main-light), 3em 0 0 2px var(--main-light);
    }
}